@font-face {
    font-family: 'ITCKabelStdBook';
    src: url('itckabelstd-book_0.eot');
    src: url('itckabelstd-book_0.eot') format('embedded-opentype'),
         url('itckabelstd-book_0.woff') format('woff'),
         url('itckabelstd-book_0.ttf') format('truetype'),
         url('itckabelstd-book_0.svg#ITCKabelStdBook') format('svg');
}
